img{
  object-fit: cover;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor:grab
}

#house{
  border: 5px solid black;
  height: 500px;
  width: 100%;
}

#user_Controls{
  display:flex;
  flex-direction: row;
}

#user_Controls div{
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px
}
